@import '_variabls';
*{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    background-color: $mainColor;
    border-bottom: 2px solid black;
    .logo{
        position: absolute;
        top: 24px;
        left: 50%;
    }
}
// =========================================================================== start inscription ========================================================================

.inscription-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .4);
    .inscription{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        background-color: white;
        width: 50%;
        height: 80%;
        border-radius: 32px;           
        form{
            width: 60%;
            margin:100px auto;
            font-family: $mainFont;
            .title{
                font-family: $mainFont;
                font-size:  24px;
                color: $mainColor;
            }
            .field{
                width: 100%;
                margin: 16px 0;
                background-color: $grayColor;
                div{
                    padding: 8px;
                    span{
                        color: gray;
                    }
                }
                input{
                    width: 100%;
                    border:none;
                    border-bottom: 2px solid gray;
                    border-radius: 4px;
                    background-color: $grayColor;
                    font-size: 16px;
                    padding: 0 8px;
                }
            }
            .part2{
                display: none;
            }
            .part3{
                display: none;
            }
            .next{
                width: max-content;
                color: white;
                background-color: $mainColor;
                padding: 4px 24px;
                border-radius: 4px;
                float: right;
            }
        }
        button{
            width: 100%;
            padding: 8px;
            margin: 16px 0;
            background-color: $mainColor;
            font-family: $mainFont;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            color: white;
        }
    }
}
