* {
  margin: 0;
  padding: 0;
}

.departements {
  width: 50%;
  margin: auto;
}

.departements .title {
  width: 100%;
  margin: 60px 0 8px 0;
  padding: 16px;
}

.departements .title span {
  color: #1B81C2;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.departements .depart {
  width: 100%;
  box-shadow: 0px 0px 8px 1px black;
  border-radius: 4px;
  padding: 24px;
}

.departements .depart .departName {
  margin-bottom: 16px;
  background-color: #f3f4f5;
}

.departements .depart .departName span {
  padding: 8px 0 0 8px;
  font-family: "Open Sans", sans-serif;
  color: gray;
}

.departements .depart .departName select {
  width: 100%;
  background-color: #f3f4f5;
  border: none;
  border-bottom: 2px solid gray;
  border-radius: 4px;
  margin: 8px 0 0 0;
  outline: none;
}

.departements .depart .departName select option {
  color: black;
}

.departements .depart .departDescription {
  width: 100%;
}

.departements .depart .departDescription #description {
  width: 100%;
  background-color: white;
}

.departements .depart .question {
  font-family: "Open Sans", sans-serif;
  color: #47a3d1;
  margin: 16px 0;
}

.departements .depart .departQuestion {
  display: none;
}

.departements .depart form {
  width: 100%;
  color: black;
}

.departements .depart form div {
  margin: 16px auto;
  width: 100%;
}

.departements .depart form div input, .departements .depart form div textarea {
  width: 100%;
}

.departements .depart form div #questionBtn {
  color: white;
  background-color: #1B81C2;
  padding: 8px;
  border: none;
  border-radius: 4px;
}
