<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/departement.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Page1</title>
</head>
<body>

    <!-- navbar  -->

    <nav class="navbar navbar-expand-sm navbar-dark">
        <a href="#" class="navbar-brand">Logo</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-menu-sm">
            <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbar-menu-sm">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/Accueil" class="nav-link" >Home</a> 
            </li>
             <li class="nav-item">
                 <a href="/se-connecter" class="nav-link" >Sign Out</a> 
             </li>

          </ul>
         </div>
    </nav>

    <!-- Liste des Departements -->

    <div class="container mt-40">
        <h2 class="text-center" >Entreprises Agence urbaine safi</h2>
        <section class="row mt-30">
            <%for(var i of entreprise){%>
            <div class="col-sm-12 col-md-4">
                    <div class="box20 blue">
                    <img src="imgs/department.png" alt="OCP">
                        <h3 class="title" id="title"><%=i.nom%></h3>
                        <hr>
                        <hr>
                        <div id="dep">
                                <div class="childs" id="child1">
                                   <h1> ID : <span> <%=i.id%> </span></h1> 
                                   <p> Chef Département : <span> <%=i.chef_département%> </span></p>
                                   <p> description : <span> <%=i.description%> </span></p> 
                                </div>
                            </div>
                    </div>
            </div>
                <%}%>
        </section>
        <div id="dbutton"><button class="btn btn-primary"  id="info"> Show</button></div>
    </div>
    <div class="blank"></div>
    <div class="blank"></div>
        <div class="blank-div"></div>
            <div style="text-align: center;"><button type="button"  id="company" class="btn btn-primary" id="fixed">Add Departement</button></div>
            <div class="blank-div"></div>
            <div id="company-new">
                <form action="/d" method="POST">
                    <input type="text" id="inputs-size" name="nom" placeholder="nom" required><br>
                    <input type="text" name="chef_département" placeholder="chef_département" id="inputs-size" required>* <br>
                    <input type="text" name="description" placeholder="description" id="inputs-size" required>* <br>
                    <button id="dd1" class="btn btn-info" onclick="this.style.backgroundColor='green'"> Add departement</button>
                  </form>
            </div>
            <div class="blank-div"></div>
    </div>
    <div class="blank-div"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="./js/departement.js">
        </script>
</body>
</html>